//global

*{

    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    overflow-x: hidden;
}
html {
    font-size: 16px;
}

h1, h2, h3, h4, h5,a, label {
    font-family: 'Roboto Condensed', sans-serif;
}

p, span , input, div, button{
    font-family: 'Montserrat', sans-serif;  
}


//navbar

.header_index{
    position:sticky;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0.4rem 6%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    border-radius: 15px;
    margin: 26px auto; 

    

    &::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, .1);
        backdrop-filter: blur(50px);
        z-index: -1;
    }
    
    &::after{
        content: '';
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background: linear-gradient(90deg, transparent, rgba(255,255,255,.4), transparent) ;
        transition: .5s;
    }

    &:hover::after{
        left: 100%;
    }
    }



    .logo_index{
        width: 5rem;
        
    }

    .navbar_index a{
        font-size: 2.3rem;
        color: #fff;
        text-decoration: none;
        font-weight: 1000;
        margin-left: 2.5rem ;
        margin-left: 70px;
    }
    #check{
        display: none;
    }

    .icons_index{
        position: absolute;
        right: 5%;
        font-size: 3 rem;
        color:#fff ;
        cursor:pointer;
        display: none;
    }

//mediasss


@media (max-width: 1120px){
    .icons_index{
        display: inline-flex;
    }

    #check:checked~.icons_index #menu-icon{
        display:none ;
    }

    .icons_index #close-icon{
        display: none;
    }

    #check:checked~.icons_index #close-icon{
        display:block;

    }


    .navbar_index{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0;
        background: rgba(0, 0, 0, .1) ;
        backdrop-filter: blur(50px) ;
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
        overflow: hidden;
        transition: .3s ease;
    }

    #check:checked~.navbar_index{
        height: 17.7rem;
    }

    .navbar_index a{
        display: block;
        font-size: 1.5rem;
        margin: 1.5rem 0;
        text-align: center;
        transform: translateY(-50px);
        opacity:0;
        transition: .3s ease;
    }

    #check:checked~.navbar_index a{
        transform: translateY(0);
        opacity: 1;
        transition-delay: calc(.15s * var(--i)) ;
    }


}


//background

.video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
    video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    }
}

//title

.shopnow{
    display: flex;
    justify-content: center;
    background: #000;
    background: rgba(0, 0, 0, .1) ;
    backdrop-filter: blur(50px) ;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    overflow: hidden;
    transition: .3s ease;
    margin-top: 800px;


    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, .1);
        backdrop-filter: blur(50px);
        z-index: -1;
    }
    
    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background: linear-gradient(90deg, transparent, rgba(255,255,255,.4), transparent);
        animation: slideAnimation 1.5s infinite; 
    }
    
    @keyframes slideAnimation {
        0% {
            left: -100%;
        }
        100% {
            left: 100%;
        }
    }

    .shopnow__titulo{
        align-self: flex-end;
        color: #fff;
        font-size: 70px;
        padding: 5px;
        
       
        
    }
}

//about us

.sobrenosotros{
    
    background-image: url(../imagenes/foto-ceo.jpg);
    background-size: cover;
    display: flex;
    height: 900px;
    
    .nosotros_titulo{
        position: absolute;
        align-self: flex-end;
        margin-bottom: 50px;
        font-size: 6rem;
        font-weight: 800;
        color: #fff;
    }

    

}

.sobrenosotros-historia{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 120px;
    
    
    
    .historia__texto{
        font-size: 2rem;
        align-self: flex-end;
        padding: 80px;
    }
}




.historia__container{
    display: flex;
    background-color: #fff;
    width: 100%;
    padding: 40px;


    .historia__imagen{
        width: 100%;
        margin: 40px 20px;
        flex: 1.3;
        object-fit: cover;
        
        
        
    }

    .historia__textcontainer{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-end;
        margin: 40px;
        flex: 1;

        h3{
            font-size: 50px;
               
        }

        p{
            font-size: 20px;
            
        }
    }

    
}

.todo{
    margin: 0 auto;
    padding: 80px 0;
    background: #fff;

    .todo_imagen{
        width: 100%;
        height: 100%;
        display: block;
         
    }
}


//tienda titulos.

.title_glow{
    background: #000;
    background: rgba(0, 0, 0, .1) ;
    backdrop-filter: blur(50px) ;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    overflow: hidden;
    transition: .3s ease;


    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, .1);
        backdrop-filter: blur(50px);
        z-index: -1;
    }
    
    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background: linear-gradient(90deg, transparent, rgba(255,255,255,.4), transparent);
        animation: slideAnimation 1s infinite; 
    }
    
    @keyframes slideAnimation {
        0% {
            left: -100%;
        }
        100% {
            left: 100%;
        }
    }

    h4 {
        color: #fff;
        font-size: 70px;
        padding: 5px;
        margin-left: auto;
        text-align: center;
    }

    .content-container {
        display: flex; 
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 0 20px; 
        
        h4 {
            color: #fff;
            font-size: 70px;
            padding: 5px;
            margin-left: auto;
            
        }
        
        
        button {
            background-color: #ffffff00;
            border: none;
            margin-left: auto;
            
            img {
                width: 100px;
                overflow: hidden;
            }
        }
    }

}


//gallery

.galeria-img {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 2.5em;
    margin-top: 250px;
    margin: 20px;
    overflow: hidden;
    margin-bottom: 100px;
    


    img {
      width: 100%;
      height: 40em;
      border: 1px solid #fff;
      object-fit: cover;
      
      transition: transform 0.3s ease-in-out;
          
      &:hover {
              transform: scale(1.1);
              filter: none;
    }
}  
    img:nth-child(1) {
      grid-column-start: span 2;
      object-fit: cover;
    }

    img:nth-child(5) {
        grid-column-start: span 2;
      }

    img:nth-child(11) {
        grid-column-start: span 2;
  }
  img:nth-child(4) {
    grid-column-start: span 2;
}
}

//form

.form-cliente{
    width: 100%;
    background: #27414780;
    backdrop-filter: blur(10px);

    .form-titulo{
        text-align: center;
        color: #fff;
        font-size: 3rem;
        background: #070e0f79;
        backdrop-filter: blur(10px);
        padding: 10px;
    }

    .form-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 30px;
        
        label{
            color: #fff;
            font-size: 2rem;
            padding: 8px;
        }

        input{
            height: 1.6rem;
            width: 14rem;
            font-size: 1rem;
        }
        
        #botonform{
                padding: 10px 20px;
                font-size: 20px;
                border: none;
                background-color:#1b2749;
                border-radius: 5px;
                color: #fff;
                margin: 30px;
                cursor: pointer;
                &:hover{
                    background-color:#324370 ;
                }
                &:active{
                    background-color:#5c78c5;
                }
            }
        }
    }










//redes

.redes-container {
    display: flex;
    padding: 3rem;
    overflow-x: scroll;
    
    &::-webkit-scrollbar {
        width: 10px;
        height: 10px;
    }

    .redes-item {
        letter-spacing: 3px;
        display: flex;
        position: relative;
        flex-direction: column;
        height: 450px;
        width: 650px;
        min-width: 250px;
        padding: 1em;
        background-color: #fff;
        box-shadow: -1em 0 3em #000;
        transition: 0.2s;
  
        &:hover {
          transform: translateY(-1em);
        }
  
        &:hover ~ .redes-item {
          transform: translateX(130px);
        }
  
        &:not(:nth-child(1)) {
          margin-left: -130px;
        }
}
    .seguinos{
        display: flex;
        justify-content: center;
        align-items: center;

        h5{
            font-size: 60px;
            padding-top: 35px;    
        }
        
        .links-container{
            
            img{
                width: 50px;
                
                
                
            }
        }
    }
}




//footer

.footer-container{
    background-color: #161f3b;
    margin-top: 100px;
    height: 100%;
    display: flex;
    flex-direction: column;
    
    padding: 10px;

    img{
        width: 100px;
        margin: 30px;
        align-self: center;
    }

    a{
        font-size: 2.3rem;
        color: #fff;
        text-decoration: none;
        font-weight: 1000;
        margin-left: 2.5rem ;
        margin-left: 70px;
        overflow: hidden;

        
        
    }

    ul{
        margin: 30px 100px;
        display: flex;
        justify-content: space-between;
        align-self: center;
    }

    .icons-pago{
        align-self: flex-end;    
        img{
            max-width: 30px;
            
        }    
    }
    }




    .copyright {
        font-size: 20px;
        color: #555; 
        overflow: hidden;
        align-self: center;

    }



    

//tienda



#tienda__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
    
}





.tienda-container{
    
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    border: 2px solid #fff;
    position: relative;
    width: 450px;
    height: 600px;
    margin: 25px 15px;
    transition: transform 1s ease-in-out;
          
      &:hover {
              transform: scale(1.1);
              filter: none;
      }

    &:hover .tienda-body{
        right: 0;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    }

    .tienda-imagen{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 15px;
        transition: transform 0.3s ease-in-out;
          
            &:hover {
              transform: scale(1.1);
              filter: none;
            }
    }

    .tienda-body{
        width: 100%;
        height: 100%;
        top: 0;
        right: -100%;
        position: absolute;
        background: #1c353b54;
        backdrop-filter: blur(10px);
        border-radius: 10px;
        color: #fff;
        padding: 30px;
        display: flex;
        flex-direction: column;
        transition: 1.8s;
    
    h4{
        align-self: center;
        font-size: 60px;
        padding-top: 40px;

    }

    p{
        padding-top: 40px;
        font-size: 30px;
    }

    b{
        align-self: center;
        margin: auto;
        font-size: 90px;
    }

   button{
    border: 0;
    background-image: linear-gradient(
        150deg,
        #41444b9d,
        rgba(175, 189, 199, 0.377),
        #ffffff7c
    );
    border-radius: 8px;
    color: #fff;
    display: flex;
    font-size: 18px;
    padding: 4px;
    cursor: pointer;
    transition: .3s;
   }

   span{
    background-color: #0000008e;
    padding: 16px 24px;
    border-radius: 6px;
    transition: .3s;
    width: 100%;
   }

   button:hover span{
    background: none;
   }

   button:active{
    transform: scale(0.9);
   }
    }


}

    

//carrito popup
.modal-container {
    width: 80%;
    margin: 0 10%;
    max-height: 88vh;
    color: #fff;
    background: #070e0fb2;
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    overflow: auto;
    z-index: 9;
    top: 12vh;
    scrollbar-color: none;
  }
  
  .modal-container::-webkit-scrollbar {
    display: none;
  }
  .modal-header {
    display: flex;
    justify-content: space-around;
    background: #070e0f79;
    backdrop-filter: blur(10px);
    color: #fff;
    width: 100%;
  }
  
  .modal-header-title {
    justify-self: start;
    font-size: 60px;
  }
  
  .modal-header-button {
    cursor: pointer;
    font-size: 60px;
  }
  
  .modal-container > .modal-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin: 10px;
  }
  
  .modal-container > div > img {
    height: 120px;
    width: 120px;
  }
  
  .total-content {
    font-size: 40px;
    padding: 20px;
    text-align: center;
    padding-top: 20px;

    .boton-pago{
        padding: 10px 20px;
        font-size: 20px;
        border: none;
        background-color:#1b2749;
        border-radius: 5px;
        color: #fff;
        width: 100%;
        cursor: pointer;
        &:hover{
            background-color:#324370 ;
        }
        &:active{
            background-color:#5c78c5;
        }
    }
  }

  @media only screen and (max-width: 750px) {
    .modal-container {
      width: 100%;
      margin: 0;
      min-height: 88vh;
    }
  
    .modal-container > .modal-content {
      justify-content: space-between;
      width: 100%;
      margin: 2px;
    }
  
    .modal-container > div > img {
      height: 80px;
      width: 80px;
    }
  }
  
  /*delete button product*/
  .delete-product {
    cursor: pointer;
  }
  
  /*CarritoCounter*/
  .cantidad-carrito {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-radius: 50%;
    font-size: 12px;
    padding: 4px;
    top: 37px;
    right: 14px;
    position: absolute;
    display: none;
  }
  
  .sumar {
    cursor: pointer;
  }
  
  .restar {
    cursor: pointer;
  }
















/* 
.modal-container{
    width: 40rem;
    max-height: 88vh;
    color: #fff;
    background-color: #000;
    display: flex;
    position: static;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    z-index: 10;
    position: fixed;
    left: 70%;
    overflow-x: hidden;
}

.modal-header{
    display: flex;
    justify-content: space-around;
    background-color: #000;
    width: 40rem;
    color: #fff;
}

.modal-header-button{
    cursor: pointer;
}
        
.modal-header-title{
    text-align: center;
    padding: 2rem;
    font-size: 4rem;
}
    

.modal-content{
background-color: #fff;
box-shadow: 0 0 5px rgba(0, 0, 0, .3);
color: #000;
padding-bottom: 1rem;
        img{
            width: 30rem;
            height: 30rem;
            margin-left: 4rem;
            padding-top: 2rem;
        }

        h3 , p {
            text-align: center;
            padding: 1rem;
        }
}

.delete-product{
    margin-bottom: 2rem;
    cursor: pointer;
    margin-left: 35rem;
}

.total-content{
        padding: 4.5rem;
        text-align: center;
        font-size: 2.5rem;
}

.sumar , .restar{
        cursor: pointer;
        padding: 1.5rem;
}




.cantidad-carrito{
    background-color: rgb(186,206,185);
    color:#000;
    border-radius: 50%;
    font-size: 1rem;
    padding: 1rem;
    left: 84%;
    position: absolute;
    display: none;
} */