//global

*{

    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    overflow-x: hidden;
}
h1, h2, h3, h4, h5,a {
    font-family: 'Roboto Condensed', sans-serif;
}

p{
    font-family: 'Montserrat', sans-serif;  
}


//navbar

.header_index{
    position:sticky;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0.4rem 6%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    border-radius: 15px;
    margin: 26px auto; 

    

    &::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, .1);
        backdrop-filter: blur(50px);
        z-index: -1;
    }
    
    &::after{
        content: '';
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background: linear-gradient(90deg, transparent, rgba(255,255,255,.4), transparent) ;
        transition: .5s;
    }

    &:hover::after{
        left: 100%;
    }
    }



    .logo_index{
        width: 5rem;
        
    }

    .navbar_index a{
        font-size: 2.3rem;
        color: #fff;
        text-decoration: none;
        font-weight: 1000;
        margin-left: 2.5rem ;
        margin-left: 70px;
    }
    #check{
        display: none;
    }

    .icons_index{
        position: absolute;
        right: 5%;
        font-size: 3 rem;
        color:#fff ;
        cursor:pointer;
        display: none;
    }

//mediasss


@media (max-width: 1120px){
    .icons_index{
        display: inline-flex;
    }

    #check:checked~.icons_index #menu-icon{
        display:none ;
    }

    .icons_index #close-icon{
        display: none;
    }

    #check:checked~.icons_index #close-icon{
        display:block;

    }


    .navbar_index{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0;
        background: rgba(0, 0, 0, .1) ;
        backdrop-filter: blur(50px) ;
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
        overflow: hidden;
        transition: .3s ease;
    }

    #check:checked~.navbar_index{
        height: 17.7rem;
    }

    .navbar_index a{
        display: block;
        font-size: 1.5rem;
        margin: 1.5rem 0;
        text-align: center;
        transform: translateY(-50px);
        opacity:0;
        transition: .3s ease;
    }

    #check:checked~.navbar_index a{
        transform: translateY(0);
        opacity: 1;
        transition-delay: calc(.15s * var(--i)) ;
    }


}


//background

.video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
    video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    }
}

//title

.shopnow{
    display: flex;
    justify-content: center;
    background: #000;
    background: rgba(0, 0, 0, .1) ;
    backdrop-filter: blur(50px) ;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    overflow: hidden;
    transition: .3s ease;
    margin-top: 680px;
    

    .link{
        text-decoration: none;
    }
    .shopnow__titulo{
        align-self: flex-end;
        color: #fff;
        font-size: 70px;
        padding: 5px;
        
       
        
    }
}

//about us

.sobrenosotros{
    margin-top: 100px;
    background-color: #fff;
    display: flex;
    justify-content: center;

    .nosotros_imagen {
        width: 100%;
        position: relative;

    }

    .nosotros_titulo{
        position: absolute;
        align-self: flex-end;
        margin-bottom: 100px;
        font-size: 100px;
        font-weight: 800;
        color: #fff;
        
       
    }
}

.sobrenosotros-historia{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    
    
    .historia__texto{
        align-self: center;
        font-size: 30px;
        margin: 50px 400px;
    }
}


 
.grid-expert {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background-color: #fff;
    
    
    .div1 { 
        grid-area: 1 / 1 / 2 / 4;
        margin: 40px;
     }
    .div2 { 
        grid-area: 1 / 4 / 2 / 7; 
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 40px;
        
        h3{
            font-size: 60px;
            margin-top: 200px;    
        }

        p{
            font-size: 30px;
            margin-top: 60px;
        }

    }
    .div3 { 
        grid-area: 2 / 1 / 3 / 4; 
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 40px;
        
        h3{
            font-size: 60px;
            margin-top: 200px;    
        }

        p{
            font-size: 30px;
            margin-top: 60px;
        }
    }
    .div4 { 
        grid-area: 2 / 4 / 3 / 7; 
        margin: 40px;
        
    }
    .div5 { 
        grid-area: 3 / 1 / 4 / 7; 
        
        img{
            width: 100%;
            
        }
    }
    .div6 { 
        grid-area: 4 / 1 / 5 / 3; 
        
    }
    .div7 { 
        grid-area: 4 / 3 / 5 / 5; 
    }
    .div8 { 
        grid-area: 4 / 5 / 5 / 7;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 40px;
        
        h3{
            font-size: 60px;
            margin-top: 200px;    
        }

        p{
            font-size: 30px;
            margin-top: 60px;
        }
    }
    .div9 { 
        grid-area: 5 / 1 / 6 / 4; 
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 40px;
        
        h3{
            font-size: 60px;
            margin-top: 200px;    
        }

        p{
            font-size: 30px;
            margin-top: 60px;
        }
        
    }
    .div10 { 
        grid-area: 5 / 4 / 6 / 7; 
        margin: 40px;
    }
    .div11 { 
        grid-area: 6 / 1 / 7 / 3; 
    }
    .div12 { 
        grid-area: 6 / 3 / 7 / 5; 
    }
    .div13 { 
        grid-area: 6 / 5 / 7 / 7;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 40px;
        
        h3{
            font-size: 60px;
            margin-top: 200px;    
        }

        p{
            font-size: 30px;
            margin-top: 60px;
        }
    }

}


//gallery

.galeria-img {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 2.5em;
    margin-top: 250px;
    margin: 20px;
    overflow: hidden;
    margin-bottom: 300px;
    


    img {
      width: 100%;
      height: 40em;
      border: 1px solid #fff;
      object-fit: cover;
      
      transition: transform 0.3s ease-in-out;
          
      &:hover {
              transform: scale(1.1);
              filter: none;
    }
}  
    img:nth-child(1) {
      grid-column-start: span 2;
      object-fit: cover;
    }

    img:nth-child(5) {
        grid-column-start: span 2;
      }

    img:nth-child(11) {
        grid-column-start: span 2;
  }
  img:nth-child(4) {
    grid-column-start: span 2;
}
}


//redes

.redes-container {
    display: flex;
    padding: 3rem;
    overflow-x: scroll;
    
    &::-webkit-scrollbar {
        width: 10px;
        height: 10px;
    }

    .redes-item {
        letter-spacing: 3px;
        display: flex;
        position: relative;
        flex-direction: column;
        height: 350px;
        width: 400px;
        min-width: 250px;
        padding: 1em;
        background-color: #fff;
        box-shadow: -1em 0 3em #000;
        transition: 0.2s;
  
        &:hover {
          transform: translateY(-1em);
        }
  
        &:hover ~ .redes-item {
          transform: translateX(130px);
        }
  
        &:not(:nth-child(1)) {
          margin-left: -130px;
        }
}
}
//footer

.footer-container{
    background-color: #161f3b;
    margin-top: 400px;
    height: 100%;
    display: flex;
    flex-direction: column;
    
    padding: 10px;

    img{
        width: 100px;
        margin: 30px;
        align-self: center;
    }

    a{
        font-size: 2.3rem;
        color: #fff;
        text-decoration: none;
        font-weight: 1000;
        margin-left: 2.5rem ;
        margin-left: 70px;
        overflow: hidden;

        
        
    }

    ul{
        margin: 30px 100px;
        display: flex;
        justify-content: space-between;
        align-self: center;
    }

    .icons-pago{
        align-self: flex-end;    
        img{
            max-width: 30px;
            
        }    
    }
    }




    .copyright {
        font-size: 20px;
        color: #555; 
        overflow: hidden;
        align-self: center;

    }



    

//tienda


.tienda-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); 
    gap: 20px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    border: 2px solid #fff;
    position: relative;
    margin: 15px;
    margin: 0 auto;

    &:hover .tienda-body{
        right: 0;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    }

    .tienda-imagen{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 15px;
    }

    .tienda-body{
        width: 100%;
        height: 100%;
        top: 0;
        right: -100%;
        position: absolute;
        background: #1c353b54;
        backdrop-filter: blur(10px);
        border-radius: 10px;
        color: #fff;
        padding: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        transition: 1.8s;
    }


}

 

